*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#project{
    width: 80%;
    height: 100vh;
    border: 1px dashed red;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem ;
    color: blue;
}
.listPro{
    width: 20rem;
    height: 18rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    padding-left: 1rem;
    box-shadow: 1px 1px 3px blue;
}
.listPro:hover{
    box-shadow: 2px 2px 5px black;
}
video{
    width: 18rem;
    height: 10rem;
}
.listPro h2{
    color: brown;
    margin-bottom: 5px;
}
.listPro p{   
    margin-bottom: 5px;
}
.edu,.experience{
    padding: 2rem;
}
.edu h3,.experience h3{
    width: 15rem;
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: aquamarine;
}
.edu li,.experience li{
    list-style: inside;
    color:blueviolet

}
.experience h4{
    padding: 0.5rem;
    font-size: 1.2rem;
}
.edu p,.experience p{
    padding-left: 1.2rem;
}